{% load static %}
<header class="header bg-brand-red">
  <nav class="flex justify-between items-center h-[10vh] w-[92%] mx-auto">
    <a href="{% url 'index' %}">
      <img
        class="logo fill-brand-white w-30 cursor-pointer"
        alt="Jiu Bar logo"
        src="{% static 'logo/wordmark.svg'%}"
      />
    </a>
    <div
      class="nav-links duration-500 md:static absolute bg-white md:bg-brand-red md:text-brand-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center"
    >
      <ul
        class="w-full flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8"
      >
        <li class="m-auto hover:text-brand-pink">
          <a href="#">Home</a>
        </li>
        <li class="m-auto hover:text-brand-pink"><a href="{% url 'menu' %}">Menu</a></li>
        <li class="m-auto hover:text-brand-pink">
          <a href="{% url 'index' %}#contact">Contact</a>
          
        </li>
        <li
          class="m-auto text-brand-red hover:text-brand-blue md:hover:bg-brand-pink md:text-brand-red md:bg-brand-white md:p-3 md:hover:text-brand-blue md:font-bold"
        >
          <a href="https://www.doordash.com/" target="_blank">Order Online</a>
        </li>
      </ul>
    </div>
    <button class="flex items-center gap-6 md:hidden">
      <ion-icon
        onclick="onToggleMenu(this)"
        class="text-3xl text-brand-white cursor-pointer md:hidden"
        name="menu-outline"
      ></ion-icon>
    </button>
  </nav>
</header>
