{% extends "base.html" %}
{% load static %}
{% block title %}
          <title>Jiu Bar - Menu</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %}
    {% block body %}
          <section class="py-[10%] w-[95%] md:w-[80%] m-auto">
                    <h1 class="font-bold text-2xl text-center md:text-4xl text-brand-white">Menu</h1>
                    <div class="lg:grid lg:grid-cols-2 gap-6">
                    {% for category in categories  %}
                              <div>
                                        <h2 class="text-xl font-bold text-brand-red p-6 bg-brand-white mt-16">{{ category }}</h2>
                                        {% for item in menu %}    
                                                  {% if item.category == category %}               
                                                  <div class="p-6">
                                                            <div class="flex items-center mb-3">
                                                                      <h3 class="text-brand-white text-lg font-bold mr-6">{{item.name}}</h3>
                                                                      <div class="flex-grow border-b border-solid border-brand-white"></div>
                                                                      <span class="text-brand-white text-lg font-semibold ml-6">${{item.price}}</span>
                                                            </div>
                                                            
                                                            <p class="text-brand-white text-base font-light italic">{{ item.description }}</p>
                                                  </div>
                                                  {% endif %}
                                        {% endfor %}
                                 
                              </div>
                    {% endfor %}
                    </div>
          </section>
    {% endblock %}
    {% block script %} 
    <script>
      const navLinks = document.querySelector(".nav-links");
      function onToggleMenu(e) {
        e.name = e.name === "menu-outline" ? "close-outline" : "menu-outline";
        navLinks.classList.toggle("top-[9%]");
      }
    </script>
    {% endblock %}
</html>
